<h1> <%= @user.username %>'s destinations:</h1>

<ul>
<% @destinations.each do |destination| %>
  <a href="/destinations/<%= destination.id %>" ><li> <%= destination.location %> </li></a>
<% end %>
</ul>