<h1>New Destination</h1>

<form method="post" action="/destinations" >
  <label>Location:</label>
  <input type="text" name="destination[location]">
  <label>Name:</label>
  <input type="text" name="destination[name]">
  <input type="submit" value="create destination">
</form>