<h2> <%= @destination.location %> </h2>
<h3> <%= @destination.name %> </h3>
<a href=<%="/destinations/#{@destination.id}/edit"%>> <button> Edit </button></a>
<br>
<br>
<form method="post" action="/destinations/<%=@destination.id%>" >
  <input type="hidden" name="_method" value="delete">
  <!--<% if @destination.user && @destination.user.id == current_user.id %>-->
  <input type="submit" value="Delete">
  <!--<% end %>-->
</form>
some ol bs