<h1>Log In</h1>

<p><%= @error %> </p>
<form method="post" action="/destinations" >
  <label>Username:</label>
  <input type="text" name="username">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>

