<h1>Log In</h1>

<p><%= @error %> </p>
<form method="post" action="/destinations" >
  <label>Username:</label>
  <input type="text" name="username">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>

<<<<<<< HEAD
=======


<!--<form action="/login" method="post">-->
<!--    <input type="text" name="username">-->
<!--    <input type="password" name="password">-->
<!--    <input type="submit" value="Log In">-->
<!--</form>-->
>>>>>>> 1a9148b8130e7ecf182fd7396d25466bcd051c07
